@import "~react-image-gallery/styles/scss/image-gallery.scss";

html {
    body {
        .main-content {
            font-size: 14px;
            padding: 15px;
            padding-top: 35px;
            z-index: 2000;
        }
    }
}
